*.pyc
cloudbrain/subscribers/bin/osx
cloudbrain/subscribers/bin/ubuntu
cloudbrain/publishers/bin/osx
cloudbrain/publishers/bin/ubuntu
dist/
build/
cloudbrain.egg-info/
cloudbrain/datastore/cassandra_schema.cql
*.spec
node_modules/
/data/
