<!DOCTYPE html>
<html>
    <head>
        <title>cloudbrain</title>

        <!-- Icons -->
        <link rel="shortcut icon" href="/static/images/brain-favicon.png">

        <!-- CSS -->
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/nv.d3.min.css">
        <link rel="stylesheet" href="/static/css/cloudbrain.css"> 

        <!-- JS -->
        <script src="/static/js/mousetrap.min.js"></script>
        <script src="/static/js/d3.js"></script>
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/dygraph-combined.js"></script>
        <script src="/static/js/nv.d3.js"></script>
        <script src="/static/js/charts.js"></script>

    </head>
    <body>
        <!-- Top bar -->
        <div id="navbar">
            <div class='container'>
                <a href='/' id="logo" class='brand' href='/'>
                    <img src="/static/images/brain-white.png" alt="cloudbrain" style="width:30px;height:30px">&nbsp cloudbrain 
                </a>
            </div>
        </div>

        <!--div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-hide="alert"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>Loading data...</div-->

        <!-- Buttons -->
         <div class='container'>
            <br>
            <button type="button" class="btn btn-success">Connect OpenBCI</button>
            <button type="button" class="btn btn-info" onClick="location.href='/load_mock_data'">Load Mock Data</button>
            <button type="button" class="btn btn-danger" onClick="location.href='/flushall'">Reset Database</button>
        </div>

        <!-- Charts -->
         <div id="chart">
            <svg> </svg>
        </div>

        <!-- Cloudbrain tutorial -->



        <div class='container'>
            <br>
            <button type="button" class="btn btn-info" onClick="location.href='/about'">About CloudBrain</button>
            <br>
            <h3>Click on channel names to add or remove graphs</h3>
            <img src="/static/images/channels-to-display.png" alt="channel selection" style="width:546px;height:263px">
    
            <br>
            <br>
            <h3>Use the view finder to zoom in or out</h3>
            <img src="/static/images/zoom-in-out.png" alt="zoom in and out with the brush" style="width:546;height:391px">
        </div>


    </body>
</html>

