.brainsquared { background-color: white; }
.game-controls { background-color: #fafafa!important; }
.game-info {
  position: absolute;
  margin-top: 10px;
  font-size: 22px;
}
.score { right: 160px; }
.missed { right: 30px; }
.target { left: 30px; }
.accuracy { left: 210px; }
