<html>
  <head>
    <title>Concent Form for CloudBrain's Expo</title>
    <!--CSS-->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/form.css?version=MTQyNDc2MzQ2NTEwNg==">
    <!--JS-->
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="/static/scripts/form.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h2>Help with our research </h2>
        <p>Your data will be recorded anonymously. For more information ask one of the attendants.</p>
      </div>
      <form id="superform" method="post" action="">
        <div class="row">
          <div class="col-sm-2">
            <p>Headset number:</p>
          </div>
          <div class="col-sm-10">
            <select class="select" name="tag" id="tag">
              <option value="0" selected="selected">&nbsp;</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">

            <p>Do you agree to allow the Berkeley Cognitive Technology Group to record the data from your EEG headset during
              this exhibit? </p>
            <div class="btn-group btn-toggle">
              <button role="button" data-value="yes" class="btn btn-lg btn-primary noselected">Yes</button>
              <button role="button" data-value="no" class="btn btn-lg btn-primary ">No</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p>&nbsp;</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h3>Optional information to assist our research</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <p>Age:</p>
          </div>
          <div class="col-sm-10">
            <select class="select" name="age" id="age" >
              <option value="0" selected="selected">&nbsp;</option>
              <option value="18">18-25</option>
              <option value="25">25-35</option>
              <option value="35">35-45</option>
              <option value="45">45-55</option>
              <option value="55">55-65</option>
              <option value="65">65-75</option>
              <option value="75">75-85</option>
              <option value="85">85+</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <p>Gender:</p>
          </div>
          <div class="col-sm-10">
            <select class="select"  id="gender">
              <option value="n" selected="selected">&nbsp;</option>
              <option value="m">Male</option>
              <option value="f">Female</option>
              <option value="o">Other</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <p>If at any point during this exhibit you decide that you would prefer to delete your data, please let one of
              our attendants know.</p>
          </div>
          <div class="col-sm-12">
            <p><strong>By clicking "Submit" I certify that I am 18 or older.</strong></p>
            <button class="btn btn-success btn-lg btn-submit" id="submit" >Submit</button>
            <div class="  alert alert-danger headset">
              <p>Please select a headset number.</p>
            </div>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
