<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title></title>

  <link rel="stylesheet" href="bower_components/bootstrap-css-only/css/bootstrap.css">
  <link rel="stylesheet" href="css/index.css">
</head>

<body ng-app="cloudbrain" ng-cloak ng-controller="chartController">

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">

      <div id='logo' class="navbar-header">
      <div class='row'>
        <a class="navbar-brand" href="https://github.com/marionleborgne/cloudbrain" target="_blank">
          <img src="images/brain-white.png" alt="cloudbrain" class="logo" />
          <span>Cloudbrain</span>
        </a>
      </div>

      </div>
        <ng-form name="deviceIdForm" role="form">

        <div  class="nav_button navbar-form navbar-right">
            <button type="submit" ng-click="getData(device)" class="btn btn-success">Connect</button>
          </div>
          <div class="navbar-form navbar-right" style="padding-right: 10px;"><!--DeviceName-->
            <select ng-model='device.name' id="deviceName" class="form-control">
              <option selected="selected" value="">Select Device Name</option>
              <option ng-repeat="deviceName in model.deviceNames">{{deviceName}}</option>
            </select>
          </div><!--DeviceName -->
          <div class="navbar-form navbar-right"><!--DeviceId-->
            <div class="form-group">
              <select ng-model='device.id' id="registeredDevices" class="form-control">
              <option selected="selected" value="">Select Device ID</option>
              <option ng-repeat="deviceId in model.deviceIds">{{deviceId}}</option>
            </select>
            </div>
          </div><!--DeviceId -->

          
          
          
          


        </ng-form>

    

    </div>
  </div>
</nav>

<div class="container-fluid">
 <!--<div ng-controller="chartController"> -->
 <div ng-hide='showClick'>
  <div class="row">
    <div class="col-md-6 col-md-offset-2">
  <h2>Welcome to Cloudbrain!</h2>
  <h4>Please select <strong>Device ID</strong> and <strong>Device Name.</strong></h4>
    </div>
  </div>
</div>

 <div ng-show='showClick'>
 <div class = "row">
  <div class="col-md-12">
    <highchart id="chart3" config="chartStock"></highchart>
  </div>
</div>
<div class="row">
 <div id="bot_charts"class="row" ng-show='chartMuse'>
        <div class="col-md-8">
        <highchart id="chart1" config="chartBar"></highchart>
      </div>
        <div class="col-md-4">
          <highchart id="chart2" config="chartPolar"></highchart>
        </div>
      </div>
    </div>
  </div>





<!--</div><!--chartController-->
</div><!--Container-->

<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
<script src="http://code.highcharts.com/adapters/standalone-framework.js"></script>
<script src="http://code.highcharts.com/stock/highstock.src.js"></script>
    <!--<script src="bower_components/highcharts/highcharts.src.js"></script>-->
<script src="http://code.highcharts.com/highcharts-more.js"></script>
<script src="bower_components/highcharts-ng/src/highcharts-ng.js"></script>

<script src="app.js"></script>
<script src="controllers/chartController.js"></script>

  </body>


  </html>
