.navbar {
  border-radius: 0;
}
.navbar-header {
  padding-top: 4px;
}
.logo {
  float: left;
  width: 30px;
  margin-right: 10px;
  margin-top: -5px;
}
.navbar-brand span {
  font-size: 22px;
  color: white;
}
#logo {
  padding-left: 15px;
}

body {
	/*background-image: url(../images/neurons.jpg);*/
}

#bot_charts {
	padding-top: 10px;
}
.top-bar{
  padding-top: 10px;

}

label {
  color: white;
}
