.navbar {
  border-radius: 0;
}
.logo {
  float: left;
  width: 30px;
  margin-right: 10px;
  margin-top: -5px;
}
.navbar-brand span {
  font-size: 22px;
  color: white;
}

body {
	background-image: url(../images/stars.jpg);
}

#bot_charts {
	padding-top: 10px;
}
.nav_button {
	padding-top: 25.5px;
	
}

label {
  color: white;
}