<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <title>CloudBrain</title>

    <!-- Icons -->
    <link rel="shortcut icon" href="/static/images/brain-favicon.png">

    <!--CSS-->
    <link rel="stylesheet" href="/static/css/cb.css">


</head>
<body>

<!-- Top bar-->
<div id="navbar">
    <div class='container-fluid'>
        <img src="/static/images/brain-white.png" alt="cloudbrain" id="logo"> &nbsp
        <a href='/' id="name" href='/'>CloudBrain</a>
    </div>
</div>


<div class="container-fluid">


    <h2>Understanding Your Brain Waves</h2>

    <div>
        <ul>
            <li><b>Delta (0-4 Hz)</b> Delta waves are the slowest types of brainwaves. They are associated with unconsciousness, deep sleep or catalepsy.
</li>
            <li><b>Theta (4-7 Hz)</b> Theta waves reflect a state associated with reduced consciousness.
</li>
            <li><b>Alpha (7-13 Hz)</b> Alpha waves occur when we are in a state of physical and mental relaxation, although aware of what is happening around us.
</li>
            <li><b>Beta (13-30 Hz)</b> Beta waves are emitted when we are consciously alert, or we feel agitated, tense, afraid.
</li>
            <li><b>Gamma (30-70 Hz)</b>  Gamma waves are involved in cognitive processing,consolidation of information and sudden insight.
</li>
        </ul>
    </div>


</div>
</body>
</html>
