<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <title>CloudBrain</title>

    <!-- Icons -->
    <link rel="shortcut icon" href="/static/images/brain-favicon.png">

    <!--CSS-->
    <link rel="stylesheet" href="/static/css/cb.css">


</head>
<body>

<!-- Top bar-->
<div id="navbar">
    <div class='container-fluid'>
        <img src="/static/images/brain-white.png" alt="cloudbrain" id="logo"> &nbsp
        <a href='/' id="name" href='/'>CloudBrain</a>
    </div>
</div>


<div class="container-fluid">


    <h2>Welcome to CloudBrain!</h2>

</div>
</body>
</html>
