<div>
  <md-whiteframe class="md-whiteframe-z2" layout layout-align="center center" layout-padding>
    <div layout="row" layout-align="center center">
      <md-select placeholder="Select Device Name" ng-model="selectedDevice" id="deviceName" class="form-control">
        <md-option ng-repeat="deviceName in deviceNames">{{deviceName}}</md-option>
      </md-select>
      <md-button type="submit" ng-click="showChart()" class="md-raised md-primary">Connect</md-button>
    </div>
  </md-whiteframe>
  <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels"
      chart-legend="false" chart-series="series" chart-options="options"></canvas>
</div>
