<md-content class="hc-background" layout layout-padding layout-align="center">
  <md-whiteframe class="md-whiteframe-z2" flex="80">
        <div layout="column" layout-sm="column">
          <md-input-container flex="50">
            <label>Username</label>
            <input ng-model="data.username">
          </md-input-container>
          <md-input-container flex="50">
            <label>Name</label>
            <input ng-model="data.name">
          </md-input-container>
          <md-input-container flex="50">
            <label>Email</label>
            <input ng-model="data.email" ng-required="true" type="email">
          </md-input-container>
          <md-input-container flex="50">
            <label>Password</label>
            <input ng-model="data.password" ng-required="true" type="password">
          </md-input-container>
        </div>
        <section layout="row" layout-sm="column" layout-align="center center">
          <md-button class="md-raised md-primary" ng-click="signup()">Sign Up</md-button>
        </section>
  </md-whiteframe>
</md-content>